@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap');
*{padding: 0px;
    margin: 0px;
}

body {
    background-color:lightblue;
        font-family: "Cinzel Decorative", serif;
  font-weight: 400;
  font-style: normal;   
    text-align: center;
    margin: 0;
    padding: 0;
}

h1 {
    color: #0044aa;
    font-size: 45px;
    margin: 30px 0;
    text-shadow: 2px 2px 5px rgba(0,0,0,0.2);
     font-family: "Cinzel Decorative", serif;
  font-weight: 400;
  font-style: normal;
}
h1:hover{
  cursor: pointer;
  color:lightblue;
 
}

.box {
    background-color: wheat;
    width: 85%;
    max-width: 700px;
    margin: 25px auto;
    padding: 20px;
    border-radius: 15px;
    box-shadow: 0 0 12px rgba(0, 0, 0, 0.2);
   font-family: "Great Vibes", cursive;
  font-weight: 400;
  font-style: normal;
}
.box:hover{
   transform: scale(1.05); /* box moves slightly outward */
    box-shadow: 0 0 20px rgba(0, 100, 255, 0.3);
    cursor: pointer;
}

.box img {
    width: 100%;
    max-width: 350px;
    border-radius: 10px;
    margin-top: 10px;
}
.box img:hover{
  transform: scale(1.05); /* box moves slightly outward */
    box-shadow: 0 0 20px rgba(0, 100, 255, 0.3);
    cursor: pointer;
}


.box h2 {
    color: #0055aa;
    font-size: 26px;
    margin-bottom: 10px;
}

.box p {
    font-size: 20px;
    color:rgb(8, 103, 134);
    margin-top: 10px;
}

/* Responsive Design */
@media (max-width: 600px) {
    h1 {
        font-size: 35px;
    }
    .box {
        width: 95%;
        padding: 15px;
    }
    .box h2 {
        font-size: 22px;
    }
    .box p {
        font-size: 18px;
    }
}
