@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap');
*{
    padding: 0px;
    margin: 0px;
}
body{
    background-color: rgb(140, 219, 249);
}




h1{
    color: blue;
    
font-family: "Open Sans", cursive;
  font-weight: 800;
  font-style: italic;
  font-size: 55px;
  margin-top: 40px;
  justify-content: center;
  text-align: center;   
text-shadow: 2px 2px 6px rgba(37, 100, 151, 0.6), 0 0 12px rgba(71, 130, 179, 0.8);

}
h1:hover{
 cursor: pointer;
 color: aquamarine;
  text-decoration:underline;
}
.box1{

  width: 95%;
  height: 400px;
  margin-top: 20px;
  border-radius: 20px;
  margin-left: 30px;
  
}
.img{
  margin-left: 10px;
}
.heading{
  font-family: "Open Sans", cursive;
  font-size: 27px;
  margin-top: -370px;
  margin-left: 800px;
  color: rgb(226, 250, 250);
}
.para{
  font-family: 'Great Vibes', cursive;
  font-size: 23px;
  margin-left: 800px;
  margin-top: 40px;
  margin-right: 50px;
  letter-spacing: 2px;
}
.box2{
  
  width: 95%;
  height: 370px;
  margin-top: 20px;
  border-radius: 20px;
  margin-left: 30px;
  
}
.img2{
 margin-top: 20px;
  height: 500px;
  margin-left: 30px;
}
.heading2{
  font-family: "Open Sans", cursive;
  font-size: 27px;
  margin-top: -450px;
  margin-left: 800px;
  color: rgb(226, 250, 250);
}
.para2{
  font-family: 'Great Vibes', cursive;
  font-size: 23px;
  margin-left: 800px;
  margin-top: 40px;
  margin-right: 50px;
  letter-spacing: 2px;
}
.box3{

  width: 95%;
  height: 370px;
  margin-top: 20px;
  border-radius: 20px;
  margin-left: 30px;
  
}
.img3{
 margin-top: 20px;
  height: 500px;
  margin-left: 30px;
}
.heading3{
  font-family: "Open Sans", cursive;
  font-size: 27px;
  margin-top: -500px;
  margin-left: 800px;
  color: rgb(226, 250, 250);
}
.para3{
  font-family: 'Great Vibes', cursive;
  font-size: 23px;
  margin-left: 800px;
  margin-top: 20px;
  margin-right: 50px;
  letter-spacing: 2px;
}
.box4{

  width: 97%;
  height: 370px;
  margin-top: 20px;
  border-radius: 20px;
  margin-left: 30px;
  
}
.img4{
 margin-top: 10px;
  height: 500px;
  margin-left: 30px;
}
.heading4{
  font-family: "Open Sans", cursive;
  font-size: 27px;
  margin-top: -470px;
  margin-left: 800px;
  color: rgb(226, 250, 250);
}
.para4{
  font-family: 'Great Vibes', cursive;
  font-size: 23px;
  margin-left: 800px;
  margin-top: 20px;
  margin-right: 50px;
  letter-spacing: 2px;
}
.box5{

  width: 99.5%;
  height: 400px;
  margin-top: 50px;
  border-radius: 20px;
  margin-left: 5px;
  
}
.img5{
 margin-top: 30px;
  height: 500px;
  margin-left: 30px;
}
.heading5{
  font-family: "Open Sans", cursive;
  font-size: 27px;
  margin-top: -500px;
  margin-left: 800px;
  color: rgb(226, 250, 250);
}
.para5{
  font-family: 'Great Vibes', cursive;
  font-size: 23px;
  margin-left: 800px;
  margin-top: 20px;
  margin-right: 50px;
  letter-spacing: 2px;
}
.box6{

  width: 99.5%;
  height: 400px;
  margin-top: 70px;
  border-radius: 20px;
  margin-left: 5px;
  
}
.img6{
 margin-top: 30px;
  height: 500px;
  margin-left: 30px;
}
.heading6{
  font-family: "Open Sans", cursive;
  font-size: 27px;
  margin-top: -450px;
  margin-left: 800px;
  color: rgb(226, 250, 250);
}
.para6{
  font-family: 'Great Vibes', cursive;
  font-size: 23px;
  margin-left: 800px;
  margin-top: 20px;
  margin-right: 50px;
  letter-spacing: 2px;
}