@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap');
*{
    padding: 0px;
    margin: 0px;
}
body{
    background-color: antiquewhite;
}




h1{
    color: rgb(96, 179, 246);
    
font-family: "Patrick Hand SC", cursive;
  font-weight: 800;
  font-style: italic;
  font-size: 50px;
  margin-top: 40px;
  justify-content: center;
  text-align: center;   
text-shadow: 2px 2px 6px rgba(96, 179, 246, 0.6), 0 0 12px rgba(96, 179, 246, 0.8);

}
.img{
margin-left: 20px;
margin-top: 30px;
 border-radius: 10px;
 border: 1px solid white;
 width: 500px;
 height: 330px;
background-repeat: no-repeat;
background-image:url(./Capture.PNG);
box-shadow: 5px 5px 2px wheat ;
}
.para{
    border: 1px solid white;
    width: 500px;
    height: 400px;
text-align: center;
justify-content: right;
margin-left: 800px;
margin-top: -330px;
font-family: 'Great Vibes', cursive;
letter-spacing: 2px;
font-size: 23px;
background-image: url(./download.jpeg);
image-resolution: 20px;

background-image: linear-gradient(
    rgba(255, 255, 255, 0.6),   /* Light white layer */
    rgba(255, 255, 255, 0.6)
  ),
  url('./download.jpeg');
background-size: cover;
background-position: center;
box-shadow: 5px 5px 2px wheat ;
border-radius: 10px;

}